<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @job.company_id %>
</p>

<p>
  <b>Positng user:</b>
  <%= @job.positng_user %>
</p>

<p>
  <b>Job type:</b>
  <%= @job.job_type %>
</p>

<p>
  <b>Hours:</b>
  <%= @job.hours %>
</p>

<p>
  <b>Start date:</b>
  <%= @job.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @job.end_date %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Education requirement:</b>
  <%= @job.education_requirement %>
</p>

<p>
  <b>Education field of study:</b>
  <%= @job.education_field_of_study %>
</p>

<p>
  <b>Years experience:</b>
  <%= @job.years_experience %>
</p>

<p>
  <b>Reference count:</b>
  <%= @job.reference_count %>
</p>

<p>
  <b>Zip:</b>
  <%= @job.zip %>
</p>

<p>
  <b>Remote available:</b>
  <%= @job.remote_available %>
</p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Department:</b>
  <%= @job.department %>
</p>

<p>
  <b>Environment:</b>
  <%= @job.environment %>
</p>

<p>
  <b>Dress code:</b>
  <%= @job.dress_code %>
</p>

<p>
  <b>Travel:</b>
  <%= @job.travel %>
</p>

<p>
  <b>Current:</b>
  <%= @job.current %>
</p>

<p>
  <b>Past:</b>
  <%= @job.past %>
</p>

<p>
  <b>Open:</b>
  <%= @job.open %>
</p>

<p>
  <b>Date filled:</b>
  <%= @job.date_filled %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
